<nz-spin [nzSpinning]="loading">
  <section class="drivers-header">
    <h3>Pilotos de {{ teamName | uppercase }} en {{ year }}</h3>
  </section>

  <ng-container *ngIf="drivers.length > 0; else noDrivers">
    <div class="drivers-list">
      <app-driver-card
        *ngFor="let driver of drivers"
        [driver]="driver">
      </app-driver-card>
    </div>
  </ng-container>

  <ng-template #noDrivers>
    <nz-alert
      *ngIf="!loading"
      nzType="warning"
      nzMessage="No se encontraron pilotos para este equipo en el año seleccionado."
      nzShowIcon>
    </nz-alert>
  </ng-template>
</nz-spin>

<app-button
  buttonText="Volver"
  nzType="default"
  nzIcon="arrow-left"
  (buttonClick)="goBack()"
  class="back-button">
</app-button>
