<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="./" style="display: flex; align-items: center; gap: 8px;">
        <img src="/assets/images/logo_formula.jpg" alt="logo" loading="lazy" style="height: 32px;" />
        <h1 style="color: white; margin: 0; font-size: 16px;">F1 Tracker</h1>
      </a>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType="home"></span>
        <a routerLink="/welcome">Inicio</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType="team"></span>
        <a routerLink="/teams">Equipos</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType="search"></span>
        <a routerLink="/pilots-search">Buscador</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType="bar-chart"></span>
        <a routerLink="/standings">Ranking</a>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <div class="app-header" style="display: flex; align-items: center; height: 100%;">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></nz-icon>
        </span>
      </div>
    </nz-header>

    <nz-content>
      <div class="inner-content" style="padding: 24px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <app-footer />
  </nz-layout>
</nz-layout>
