
<nz-layout class="app-layout d-flex flex-column min-vh-100">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center gap-2" routerLink="/welcome">
        <img src="/assets/images/logo_formula.jpg" alt="logo" loading="lazy" style="height: 32px;" />
        <span>F1 Tracker</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex gap-4">

  <li class="nav-item">
    <a class="nav-link d-flex align-items-center gap-2" routerLink="/welcome" routerLinkActive="active">
      <nz-icon nzType="home" nzTheme="fill"></nz-icon> Inicio
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link d-flex align-items-center gap-2" routerLink="/teams" routerLinkActive="active">
      <nz-icon nzType="team" nzTheme="outline"></nz-icon> Equipos
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link d-flex align-items-center gap-2" routerLink="/pilots-search" routerLinkActive="active">
      <nz-icon nzType="search" nzTheme="outline"></nz-icon> Buscador
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link d-flex align-items-center gap-2" routerLink="/standings" routerLinkActive="active">
      <nz-icon nzType="bar-chart" nzTheme="outline"></nz-icon> Ranking
    </a>
  </li>

</ul>



      </div>
    </div>
  </nav>

  <nz-content>
    <div class="inner-content" style="padding: 24px;">
      <router-outlet></router-outlet>
    </div>
  </nz-content>

  <app-footer />
  </nz-layout>