<nz-spin [nzSpinning]="loading">
  <div style="margin-bottom: 16px; display: flex; gap: 16px; flex-wrap: wrap; align-items: center;">
    <label for="yearSelect">Año:</label>
    <nz-select id="yearSelect" [(ngModel)]="selectedYear" (ngModelChange)="onYearChange()"
      [disabled]="(searchControl.value ?? '').trim().length >= 4" style="width: 120px;">
      <nz-option [nzValue]="null" [nzLabel]="'Todos los años'"></nz-option>
      <nz-option *ngFor="let year of availableYears" [nzValue]="year" [nzLabel]="year"></nz-option>

    </nz-select>

    <input nz-input placeholder="Buscar piloto (mín. 4 letras)" [formControl]="searchControl" style="width: 300px;" />
  </div>

  <div *ngIf="filteredDrivers.length > 0; else noResults" class="drivers-grid">
    <nz-card *ngFor="let driver of filteredDrivers" [nzTitle]="driver.name + ' ' + driver.surname"
      [nzExtra]="driver.shortName" class="driver-card">
      <p><strong>Nacionalidad:</strong> {{ driver.nationality | getFlag }} {{ driver.nationality }}</p>
      <p *ngIf="driver.number"><strong>Número:</strong> {{ driver.number }}</p>
      <p><strong>Fecha de nacimiento:</strong> {{ driver.birthday }}</p>

      <ng-container *ngIf="driver.teamId && teamsMap.get(driver.teamId) as team">
        <p>
          <strong>Escudería:</strong>
          {{ team.nationality | getFlag }} {{ team.name }}
        </p>
      </ng-container>


      <a [href]="driver.url" target="_blank" rel="noopener noreferrer">Ver en Wikipedia</a>
    </nz-card>
  </div>

  <ng-template #noResults>
    <p>No se encontraron pilotos para los filtros aplicados.</p>
  </ng-template>

  <nz-pagination *ngIf="allDrivers.length > itemsPerPage" [nzTotal]="allDrivers.length" [nzPageSize]="itemsPerPage"
    [(nzPageIndex)]="currentPage" (nzPageIndexChange)="onPageChange($event)" style="margin-top: 16px;"></nz-pagination>
</nz-spin>

<br />
<button nz-button nzType="link" (click)="goBack()" style="margin-bottom: 16px; cursor: pointer;">
  <span nz-icon nzType="arrow-left"></span> Volver
</button>