<div class="standings-page-container">
  <div class="header-section">
    <h1>Clasificaciones F1 - {{ selectedYear }}</h1>
    <nz-select
      class="year-select"
      [(ngModel)]="selectedYear"
      (ngModelChange)="onYearChange($event)"
      nzPlaceHolder="Selecciona un año"
      nzShowSearch
      style="width: 150px;"
    >
      <nz-option *ngFor="let year of availableYears" [nzValue]="year" [nzLabel]="year"></nz-option>
    </nz-select>
  </div>

  <div class="charts-container">
    <div class="chart-block">
      <h3>Top 5 Pilotos</h3>
      <div *ngIf="isLoadingDriversChart$ | async" class="chart-loading-state">
        <nz-spin nzSimple nzSize="large"></nz-spin>
        <p>Cargando datos de pilotos...</p>
      </div>
      <ng-container *ngIf="(isLoadingDriversChart$ | async) === false">
        <div *ngIf="driverData.length > 0; else noDriverDataBlock">
          <ngx-charts-bar-horizontal
            [view]="chartView"
            [results]="driverData"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            xAxisLabel="{{ xAxisLabelPoints }}"
            yAxisLabel="{{ yAxisLabelDriver }}"
            [gradient]="gradient"
            [showGridLines]="showGridLines"
            [tooltipDisabled]="false"
            [roundEdges]="roundEdges"
          >
          </ngx-charts-bar-horizontal>
        </div>
        <ng-template #noDriverDataBlock>
          <nz-empty nzNotFoundImage="simple" nzNotFoundContent="No hay datos de pilotos disponibles para este año."></nz-empty>
        </ng-template>
      </ng-container>
    </div>

    <div class="chart-block">
      <h3 style="margin-top: 32px;">Top 5 Constructores</h3>
      <div *ngIf="isLoadingConstructorsChart$ | async" class="chart-loading-state">
        <nz-spin nzSimple nzSize="large"></nz-spin>
        <p>Cargando datos de constructores...</p>
      </div>
      <ng-container *ngIf="(isLoadingConstructorsChart$ | async) === false">
        <div *ngIf="constructorData.length > 0; else noConstructorDataBlock">
          <ngx-charts-bar-horizontal
            [view]="chartView"
            [results]="constructorData"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            xAxisLabel="{{ xAxisLabelPoints }}"
            yAxisLabel="{{ yAxisLabelConstructor }}"
            [gradient]="gradient"
            [showGridLines]="showGridLines"
            [roundEdges]="roundEdges"
          >
          </ngx-charts-bar-horizontal>
        </div>
        <ng-template #noConstructorDataBlock>
          <nz-empty nzNotFoundImage="simple" nzNotFoundContent="No hay datos de constructores disponibles para este año."></nz-empty>
        </ng-template>
      </ng-container>
    </div>
  </div>

<app-button
  buttonText="Volver"
  nzType="default"
  nzIcon="arrow-left"
  (buttonClick)="goBack()"
  class="back-button">
</app-button>
</div>