<h3>Top 5 Pilotos</h3>
<ngx-charts-bar-horizontal
  [view]="[350, 250]"
  [results]="driverData"
  [xAxis]="true"
  [yAxis]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  xAxisLabel="Puntos"
  yAxisLabel="Piloto"
  [gradient]="false"
  [showGridLines]="true"
  [tooltipDisabled]="false"
  [roundEdges]="true"
>
</ngx-charts-bar-horizontal>

<h3 style="margin-top: 32px;">Top 5 Constructores</h3>
<ngx-charts-bar-horizontal
  [view]="[350, 250]"
  [results]="constructorData"
  [xAxis]="true"
  [yAxis]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  xAxisLabel="Puntos"
  yAxisLabel="Constructor"
  [gradient]="false"
  [showGridLines]="true"
  [roundEdges]="true"
>
</ngx-charts-bar-horizontal>

<br/><br/>
<br/>
<button nz-button nzType="link" (click)="goBack()" style="margin-bottom: 16px; cursor: pointer;">
  <span nz-icon nzType="arrow-left"></span> Volver
</button>

<nz-alert
  *ngIf="driverError"
  nzType="error"
  nzMessage="Error al cargar el top 5 de pilotos"
  nzShowIcon
  style="margin-bottom: 16px;"
></nz-alert>

<nz-alert
  *ngIf="constructorError"
  nzType="error"
  nzMessage="Error al cargar el top 5 de constructores"
  nzShowIcon
  style="margin-bottom: 16px;"
></nz-alert>
