<div class="teams-page-container">
  <div class="header-section">
    <h1>Equipos de F1 - {{ selectedYear }}</h1>
    <nz-select
      class="year-select"
      [(ngModel)]="selectedYear"
      (ngModelChange)="onYearChange()"
      nzPlaceHolder="Selecciona un año"
      nzShowSearch
    >
      <nz-option *ngFor="let year of availableYears" [nzValue]="year" [nzLabel]="year"></nz-option>
    </nz-select>
  </div>

  <div class="content-section">
    <div *ngIf="isLoadingTeams$ | async" class="loading-state">
      <nz-spin nzSimple nzSize="large"></nz-spin>
      <p>Cargando equipos...</p>
    </div>

    <ng-container *ngIf="(isLoadingTeams$ | async) === false">
      <div *ngIf="teams.length > 0; else noDataBlock" class="teams-grid">
        <app-team-card
          *ngFor="let team of paginatedTeams; trackBy: trackByTeamId"
          [team]="team"
          (selectTeam)="onTeamCardSelect($event)"
        ></app-team-card>
      </div>

      <ng-template #noDataBlock>
        <nz-empty nzNotFoundImage="simple" nzNotFoundContent="No se encontraron equipos para este año o hubo un error al cargar. Por favor, probá con otro año."></nz-empty>
      </ng-template>
    </ng-container>
  </div>

  <div *ngIf="teams.length > itemsPerPage" class="pagination-section">
    <nz-pagination
      [nzPageIndex]="currentPage"
      [nzTotal]="teams.length"
      [nzPageSize]="itemsPerPage"
      (nzPageIndexChange)="onPageIndexChange($event)"
      nzShowSizeChanger
      [nzPageSizeOptions]="[6, 12, 24]"
      (nzPageSizeChange)="itemsPerPage = $event; currentPage = 1"
    ></nz-pagination>
  </div>

<app-button
  buttonText="Volver"
  nzType="default"
  nzIcon="arrow-left"
  (buttonClick)="goBack()"
  class="back-button">
</app-button></div>